.welcome{

    font-size:30px;

    font-weight:bold;

    margin-bottom:30px;

    color:#0d6efd;

}

.dashboard{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}