.layout{

    min-height:100vh;

    display:flex;

    flex-direction:column;

}

.main{

    display:flex;

    flex:1;

    margin-top:70px;

}

.content{

    margin-left:250px;

    width:100%;

    padding:30px;

    background:#eef3f8;

    min-height:calc(100vh - 120px);

}